Repository Ultimaker/Cura, pull requests merged in 2024-03, with the labels that each got.

#18218 Fix bed mesh offsets for Ratrig V-Core3 200mm and V-Minion
  resources/definitions/ratrig_vcore3_200.def.json
  resources/definitions/ratrig_vminion.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:, PR: BooBoos :innocent:

#17848 Fix Creality Ender 5 Plus ABL command
  resources/definitions/creality_ender5plus.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:, PR: BooBoos :innocent:

#18408 fix creality_ender3v3se & Anycubic Kobra Go/Kobra 2 start Gcode BUG
  resources/definitions/anycubic_kobra2.def.json
  resources/definitions/anycubic_kobra_go.def.json
  resources/definitions/creality_ender3v3se.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:, PR: BooBoos :innocent:

#18373 Add Creality Ender3 v2 Neo configuration
  resources/definitions/creality_ender3v2neo.def.json
  resources/variants/creality/creality_ender3v2neo_0.2.inst.cfg
  resources/variants/creality/creality_ender3v2neo_0.3.inst.cfg
  resources/variants/creality/creality_ender3v2neo_0.4.inst.cfg
  resources/variants/creality/creality_ender3v2neo_0.5.inst.cfg
  resources/variants/creality/creality_ender3v2neo_0.6.inst.cfg
  resources/variants/creality/creality_ender3v2neo_0.8.inst.cfg
  resources/variants/creality/creality_ender3v2neo_1.0.inst.cfg
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:

#18235 Update LimitXYAccelJerk.py
  plugins/PostProcessingPlugin/scripts/LimitXYAccelJerk.py
Labels: PR: Community Contribution :crown:, PR: BooBoos :innocent:, PR: Post Processing :heavy_plus_sign:

#18602 Do not get user profile by loading auth data
  cura/OAuth2/AuthorizationService.py
Labels: PR: Community Contribution :crown:

#18695 update ru_RU translation
  resources/i18n/ru_RU/cura.po
Labels: PR: Translations :books:, PR: Community Contribution :crown:

#18717 Update ru_RU translation
  resources/i18n/ru_RU/cura.po
Labels: PR: Community Contribution :crown:

#17166 Move nozzle clean to designated area
  resources/definitions/creality_ender3v3se.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:
