Repository Ultimaker/Cura, pull requests merged in 2024-04, with the labels that each got.

#18792 Updated pt_BR strings for Cura 5.7
  resources/i18n/pt_BR/cura.po
  resources/i18n/pt_BR/fdmextruder.def.json.po
  resources/i18n/pt_BR/fdmprinter.def.json.po
  resources/i18n/pt_BR/gradual_flow_settings.def.json.po
Labels: PR: Translations :books:, PR: Community Contribution :crown:

#18724 Fixed "positionning" -> "positioning" typo
  resources/definitions/creality_ender5s1.def.json
  resources/definitions/elegoo_neptune_1.def.json
  resources/definitions/elegoo_neptune_2.def.json
  resources/definitions/elegoo_neptune_2D.def.json
  resources/definitions/elegoo_neptune_2s.def.json
  resources/definitions/elegoo_neptune_3.def.json
  resources/definitions/elegoo_neptune_3pro.def.json
  resources/definitions/elegoo_neptune_4.def.json
  resources/definitions/elegoo_neptune_x.def.json
  resources/definitions/sovol_sv04_copy_mode.def.json
  resources/definitions/sovol_sv04_dual_mode.def.json
  resources/definitions/sovol_sv04_mirror_mode.def.json
  resources/definitions/sovol_sv04_single_mode_1.def.json
  resources/definitions/sovol_sv04_single_mode_2.def.json
  resources/definitions/sovol_sv06_plus.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:

#18828 Monitor Page Preheat values
  resources/qml/PrintMonitor.qml
  resources/qml/PrinterOutput/ExtruderBox.qml
Labels: PR: Community Contribution :crown:

#14778 Update InsertAtLayerChange.py
  plugins/PostProcessingPlugin/scripts/InsertAtLayerChange.py
Labels: PR: Community Contribution :crown:, PR: Post Processing :heavy_plus_sign:
