Repository Ultimaker/Cura, pull requests merged in 2025-09, with the labels that each got.

#20904 Add theme colors
  resources/themes/cura-light/theme.json
Labels: PR: Community Contribution :crown:, PR: BooBoos :innocent:

#20489 Create ZHopOnTravel.py
  plugins/PostProcessingPlugin/scripts/ZHopOnTravel.py
Labels: PR: Community Contribution :crown:, PR: Post Processing :heavy_plus_sign:

#20572 Remove NSIS uninstall shortcut removal
  packaging/NSIS/Ultimaker-Cura.nsi.jinja
Labels: PR: Community Contribution :crown:

#20903 Added missing \n before the G1 Z10
  resources/definitions/tronxy_x5sa.def.json
  resources/definitions/tronxy_x5sa_400.def.json
  resources/definitions/tronxy_x5sa_500.def.json
Labels: PR: Printer Definitions :factory:, PR: Community Contribution :crown:, PR: BooBoos :innocent:
